src/main/mule/sf-system-api.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns:salesforce="http://www.mulesoft.org/schema/mule/salesforce" xmlns:tls="http://www.mulesoft.org/schema/mule/tls" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:apikit="http://www.mulesoft.org/schema/mule/mule-apikit" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd http://www.mulesoft.org/schema/mule/mule-apikit http://www.mulesoft.org/schema/mule/mule-apikit/current/mule-apikit.xsd http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd 
http://www.mulesoft.org/schema/mule/tls http://www.mulesoft.org/schema/mule/tls/current/mule-tls.xsd
http://www.mulesoft.org/schema/mule/salesforce http://www.mulesoft.org/schema/mule/salesforce/current/mule-salesforce.xsd">
    <http:listener-config name="sf-system-api-httpsListenerConfig">
        <http:listener-connection host="0.0.0.0" port="${secure::con.port}" protocol="HTTPS" tlsContext="TLS_Context"/>
    </http:listener-config>
    <apikit:config name="sf-system-api-config" api="sf-system-api.raml" outboundHeadersMapName="outboundHeaders" httpStatusVarName="httpStatus" />
    <tls:context name="TLS_Context" doc:name="TLS Context" doc:id="f246eb3b-0916-4e2e-9bd9-732b2afcee66" >
		<tls:key-store type="jks" path="${secure::key.path}" alias="${secure::key.alias}" keyPassword="${secure::key.pass}" password="${secure::key.pass}" />
	</tls:context>
	<salesforce:sfdc-config name="Salesforce_Config" doc:name="Salesforce Config" doc:id="fc117dee-8a69-4fe1-b1bf-37be7394a603" >
		<salesforce:basic-connection username="${secure::sf.user}" password="${secure::sf.pass}" securityToken="${secure::sf.token}" />
	</salesforce:sfdc-config>
	<flow name="sf-system-api-main">
        <http:listener config-ref="sf-system-api-httpsListenerConfig" path="/api/*">
            <http:response statusCode="#[vars.httpStatus default 200]">
                <http:headers><![CDATA[#[vars.outboundHeaders default {}]]]></http:headers>
            </http:response>
            <http:error-response statusCode="#[vars.httpStatus default 500]">
                <http:body><![CDATA[#[payload]]]></http:body>
                <http:headers><![CDATA[#[vars.outboundHeaders default {}]]]></http:headers>
            </http:error-response>
        </http:listener>
        <apikit:router config-ref="sf-system-api-config" />
        <error-handler>
            <on-error-propagate type="APIKIT:BAD_REQUEST">
                <ee:transform doc:name="Transform Message">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
	message: "Bad request",
	details: error.description
}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus"><![CDATA[400]]></ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:NOT_FOUND">
                <ee:transform doc:name="Transform Message">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
	message: "Resource not found",
	details: error.description
}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus"><![CDATA[404]]></ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:METHOD_NOT_ALLOWED">
                <ee:transform doc:name="Transform Message">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
	message: "Method not allowed",
	details: error.description
}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus"><![CDATA[405]]></ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:NOT_ACCEPTABLE">
                <ee:transform doc:name="Transform Message">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Not acceptable"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">406</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:UNSUPPORTED_MEDIA_TYPE">
                <ee:transform doc:name="Transform Message">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
	message: "Unsupported media type",
	details: error.description
}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus"><![CDATA[415]]></ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:NOT_IMPLEMENTED">
                <ee:transform doc:name="Transform Message">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
	message: "Not Implemented",
	details: error.description
}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus"><![CDATA[501]]></ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
        </error-handler>
    </flow>
    <flow name="sf-system-api-console">
        <http:listener config-ref="sf-system-api-httpsListenerConfig" path="/console/*">
            <http:response statusCode="#[vars.httpStatus default 200]">
                <http:headers><![CDATA[#[vars.outboundHeaders default {}]]]></http:headers>
            </http:response>
            <http:error-response statusCode="#[vars.httpStatus default 500]">
                <http:body><![CDATA[#[payload]]]></http:body>
                <http:headers><![CDATA[#[vars.outboundHeaders default {}]]]></http:headers>
            </http:error-response>
        </http:listener>
        <apikit:console config-ref="sf-system-api-config" />
        <error-handler>
            <on-error-propagate type="APIKIT:NOT_FOUND">
                <ee:transform doc:name="Transform Message">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
	message: "Resource not found",
	details: error.description
}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus"><![CDATA[404]]></ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
        </error-handler>
    </flow>
    <flow name="delete:\case\(id):sf-system-api-config">
		<try doc:name="Try" doc:id="97932123-1e22-46fc-8018-c9575451e554" >
			<salesforce:query doc:name="Get Case" doc:id="d2e14c34-1db2-4f9e-8488-1803c55387c7" config-ref="Salesforce_Config">
				<salesforce:salesforce-query ><![CDATA[SELECT
	ID
FROM Case
WHERE ID = ':id']]></salesforce:salesforce-query>
				<salesforce:parameters ><![CDATA[#[output application/java
---
{
	id : attributes.uriParams.id
}]]]></salesforce:parameters>
			</salesforce:query>
			<error-handler >
				<on-error-propagate enableNotifications="true" logException="true" doc:name="On Error Propagate" doc:id="92b654fa-2188-42ee-8322-d3bdc1e1671e" >
					<raise-error doc:name="Case Not Found" doc:id="02d5c2c3-bae8-4e39-96d7-3d4c38707262" type="CUSTOM:FIND"/>
				</on-error-propagate>
			</error-handler>
		</try>
		<ee:transform doc:name="Set Case To Delete" doc:id="88df117a-04ba-4202-b693-e93846020d70" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
[payload[0].Id]]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<salesforce:delete doc:name="Delete Case" doc:id="d9a02c95-e8e3-4c08-9a61-4db1a66aa312" config-ref="Salesforce_Config"/>
		<choice doc:name="Choice" doc:id="727aa74c-2c1b-4c08-9731-e455abbad87d" >
			<when expression="#[payload.successful == false]">
				<raise-error doc:name="Case Not Deleted" doc:id="447ed40b-c8b1-4a88-b34b-e82554456803" type="CUSTOM:DELETE"/>
			</when>
			<otherwise >
				<ee:transform doc:name="Case Deleted" doc:id="09a055dc-05ef-4847-9e5e-4c02b1b91a12" >
					<ee:message >
						<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
{
	message : "Case deleted successfully."
}]]></ee:set-payload>
					</ee:message>
				</ee:transform>
			</otherwise>
		</choice>
		<error-handler >
			<on-error-propagate enableNotifications="true" logException="true" doc:name="On Error Propagate" doc:id="afa14a8d-da02-40e7-9441-04abefc3067e" type="CUSTOM:FIND">
				<ee:transform doc:name="Case Not Found" doc:id="97071094-91ec-4a0a-9a7f-da2e570ea7b3" >
					<ee:message >
						<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
{
	message : "Couldn't get case.",
	details : error.description
}]]></ee:set-payload>
					</ee:message>
				</ee:transform>
				<set-variable value="404" doc:name="Set httpStatus" doc:id="13128755-7c3c-4e75-8e76-fca87826630e" variableName="httpStatus"/>
			</on-error-propagate>
			<on-error-propagate enableNotifications="true" logException="true" doc:name="On Error Propagate" doc:id="b600ec38-f6d5-4136-bb0b-31eabd41c1f6" type="CUSTOM:DELETE">
				<ee:transform doc:name="Case Not Deleted" doc:id="b732261e-1e0f-4797-aff8-fe8288635e0c">
					<ee:message>
						<ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
	message : "Couldn't delete case.",
	details : payload.items.exception.message
}]]></ee:set-payload>
					</ee:message>
				</ee:transform>
				<set-variable value="400" doc:name="Set httpStatus" doc:id="667b68ee-5c8d-4ef6-979b-a35b01f0297f" variableName="httpStatus" />
			</on-error-propagate>
			<on-error-propagate enableNotifications="true" logException="true" doc:name="On Error Propagate" doc:id="2704cb60-1c3a-48df-a9d8-f61a6dc55697" >
				<ee:transform doc:name="Unknown Error" doc:id="0f4b9dcd-f686-4ca7-89a0-211c31fdd39a">
					<ee:message>
						<ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
	message : "Unkonwn error.",
	details : error.description
}]]></ee:set-payload>
					</ee:message>
				</ee:transform>
			</on-error-propagate>
		</error-handler>
    </flow>
    <flow name="patch:\case\(id)\attatchments:multipart\form-data:sf-system-api-config">
        <ee:transform doc:name="Transform Message">
            <ee:variables>
                <ee:set-variable variableName="id">attributes.uriParams.'id'</ee:set-variable>
            </ee:variables>
        </ee:transform>
        <ee:transform doc:name="Transform Message">
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
  message: "Case Updated"
}]]></ee:set-payload>
            </ee:message>
        </ee:transform>
    </flow>
    <flow name="patch:\case\(id):multipart\form-data:sf-system-api-config">
        <ee:transform doc:name="Read Parts">
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
payload.parts]]></ee:set-payload>
            </ee:message>
        </ee:transform>
		<set-variable value="#[%dw 2.0&#10;output application/json&#10;---&#10;[{&#10;  ID: attributes.uriParams.id,&#10;  AccountId : payload.AccountId.content,&#10;  Subject : payload.Subject.content,&#10;  Description : payload.Description.content,&#10;  Status : payload.Status.content,&#10;  Priority : payload.Priority.content,&#10;  ContactId : payload.ContactId.content,&#10;  Origin : payload.Origin.content,&#10;  CreatedDate : payload.CreatedDate.content,&#10;  ClosedDate : payload.ClosedDate.content&#10;}]]" doc:name="Set Case" doc:id="5951ff32-807c-4a94-9a59-2089648b3387" variableName="case"/>
		<salesforce:update type="Case" doc:name="Patch Case" doc:id="17fb0858-541d-411a-a651-bb199f7de227" config-ref="Salesforce_Config">
			<salesforce:records ><![CDATA[#[vars."case"]]]></salesforce:records>
		</salesforce:update>
		<choice doc:name="Choice" doc:id="7312a511-0d1f-4cf1-8b8a-ca711a906872" >
			<when expression="#[payload.successful == false]">
				<raise-error doc:name="Not Updated" doc:id="b8bf589b-a1f7-476d-926b-dda8a9d8f788" type="CUSTOM:PATCH"/>
			</when>
			<otherwise >
				<ee:transform doc:name="Case Patched" doc:id="049d8c11-c193-4549-93f5-76ef6bb3fe03" >
					<ee:message >
						<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
{
	message: "Case updated."
}]]></ee:set-payload>
					</ee:message>
				</ee:transform>
			</otherwise>
		</choice>
		<error-handler >
			<on-error-propagate enableNotifications="true" logException="true" doc:name="On Error Propagate" doc:id="f5440f7a-ae2c-4ad2-8e29-66fc4baaf564" type="CUSTOM:PATCH">
				<ee:transform doc:name="Not Updated" doc:id="afd9a176-05cb-479f-b481-8b0ccea4607c" >
					<ee:message >
						<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
{
	message: "Couldn't update case.",
	details: payload.items.exception.message
}]]></ee:set-payload>
					</ee:message>
				</ee:transform>
				<set-variable value="400" doc:name="Set httpStatus" doc:id="c115bcfa-3ce5-4bcd-90e5-a6c14c8ca6bc" variableName="httpStatus"/>
			</on-error-propagate>
			<on-error-propagate enableNotifications="true" logException="true" doc:name="On Error Propagate" doc:id="0de470c5-eea9-41d9-a6ed-fe4375b70134" >
				<ee:transform doc:name="Unknown Error" doc:id="007f0997-c9e8-4ed3-a3af-5ddaa9b11c54" >
					<ee:message >
						<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
{
	message: "Unknown error.",
	details: error.description
}]]></ee:set-payload>
					</ee:message>
				</ee:transform>
			</on-error-propagate>
		</error-handler>
    </flow>
    <flow name="get:\case:sf-system-api-config">
        <salesforce:query doc:name="Get Cases" doc:id="862b1463-a6e3-4cf8-9569-65877c92df30" config-ref="Salesforce_Config">
			<salesforce:salesforce-query ><![CDATA[SELECT
	ID, AccountId, Subject, Description, Status, Priority, ContactId, Origin, CreatedDate, ClosedDate
FROM Case]]></salesforce:salesforce-query>
		</salesforce:query>
		<ee:transform doc:name="Cases">
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
	size: sizeOf(payload),
	data: payload
}]]></ee:set-payload>
            </ee:message>
        </ee:transform>
		<error-handler >
			<on-error-propagate enableNotifications="true" logException="true" doc:name="On Error Propagate" doc:id="f5b271aa-40ce-4c0b-b8b0-a0758e93c787" >
				<ee:transform doc:name="Unkonwn Error" doc:id="7493c905-f86c-4d43-9e85-cc64a7029be8" >
					<ee:message >
						<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
{
	message: "Unknown Error. Please Try Later",
	details: error.description
}]]></ee:set-payload>
					</ee:message>
				</ee:transform>
			</on-error-propagate>
		</error-handler>
    </flow>
    <flow name="get:\accounts:sf-system-api-config">
		<salesforce:query doc:name="Get Data" doc:id="edf92e50-9204-4b8a-957a-641a7a23b918" config-ref="Salesforce_Config">
			<salesforce:salesforce-query ><![CDATA[SELECT
	ID, AccountId, Subject, Description, Status, Priority, ContactId, Origin, CreatedDate, ClosedDate
FROM Case
WHERE Account.Name LIKE ':accounts']]></salesforce:salesforce-query>
			<salesforce:parameters ><![CDATA[#[output application/java
---
{
	accounts : '%' ++ attributes.queryParams.accounts ++ '%'
}]]]></salesforce:parameters>
		</salesforce:query>
		<choice doc:name="Choice" doc:id="64250525-9f61-488a-a3e3-17aabef8f3ee" >
			<when expression="#[sizeOf(payload) &lt; 1]">
				<ee:transform doc:name="Cases Not Found" doc:id="19af18e8-960b-485a-8d9f-a71e012095c8" >
					<ee:message >
						<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
{
	message: "Cases not found."
}]]></ee:set-payload>
					</ee:message>
				</ee:transform>
				<set-variable value="404" doc:name="Set httpStatus" doc:id="aff8816f-4d04-4cc8-accd-412162658b9b" variableName="httpStatus"/>
			</when>
			<otherwise >
				<ee:transform doc:name="Cases Found" doc:id="b51ab0a1-ec5c-4894-9a7b-43f4e292df0d" >
					<ee:message >
						<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
{
	size: sizeOf(payload),
	data: payload
}]]></ee:set-payload>
					</ee:message>
				</ee:transform>
			</otherwise>
		</choice>
		<error-handler >
			<on-error-propagate enableNotifications="true" logException="true" doc:name="On Error Propagate" doc:id="de1176f1-847a-4249-b19f-32752137f689" >
				<ee:transform doc:name="Unknown Error" doc:id="fa6d27e4-96dc-470b-bd0d-98c74f65c170" >
					<ee:message >
						<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
{
	message : "Unknown error.",
	details : error.description
}]]></ee:set-payload>
					</ee:message>
				</ee:transform>
			</on-error-propagate>
		</error-handler>
    </flow>
    <flow name="get:\contacts:sf-system-api-config">
		<salesforce:query doc:name="Get Cases" doc:id="f0ad1cb9-a521-4b76-84b8-657f9a911f15" config-ref="Salesforce_Config">
			<salesforce:salesforce-query ><![CDATA[SELECT
	ID, AccountId, Subject, Description, Status, Priority, ContactId, Origin, CreatedDate, ClosedDate
FROM Case
WHERE Contact.Name LIKE ':contacts']]></salesforce:salesforce-query>
			<salesforce:parameters ><![CDATA[#[output application/java
---
{
	contacts : '%' ++ attributes.queryParams.contacts ++ '%'
}]]]></salesforce:parameters>
		</salesforce:query>
		<choice doc:name="Choice" doc:id="929f04c1-414c-4d7f-86f7-4f9a54fbc577" >
			<when expression="#[sizeOf(payload) &lt; 1]">
				<ee:transform doc:name="Cases Not Found" doc:id="d2e884cb-7eff-4526-b1d9-bf657356d58e" >
					<ee:message >
						<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
{
	message: "Cases not found."
}]]></ee:set-payload>
					</ee:message>
				</ee:transform>
				<set-variable value="404" doc:name="Set httpStatus" doc:id="ddf3516e-42be-42d5-b97c-99c9b3c50125" variableName="httpStatus"/>
			</when>
			<otherwise >
				<ee:transform doc:name="Cases Found" doc:id="ad5deb96-5f3b-48c7-830c-d519ab509bd1" >
					<ee:message >
						<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
{
	size: sizeOf(payload),
	data: payload
}]]></ee:set-payload>
					</ee:message>
				</ee:transform>
			</otherwise>
		</choice>
		<error-handler >
			<on-error-propagate enableNotifications="true" logException="true" doc:name="On Error Propagate" doc:id="7bf1aa23-0cbb-47ca-885f-e10b5431cbd6" >
				<ee:transform doc:name="Transform Message" doc:id="db884865-9dcc-4f34-80ed-e4840c441ad1" >
					<ee:message >
						<ee:set-payload ><![CDATA[%dw 2.0
output application/java
---
{
}]]></ee:set-payload>
					</ee:message>
				</ee:transform>
			</on-error-propagate>
		</error-handler>
    </flow>
    <flow name="get:\case\(id):sf-system-api-config">
		<try doc:name="Try" doc:id="1e414ffe-243f-4153-90a9-66169fc4fe1d" >
			<salesforce:query doc:name="Get Case" doc:id="20173911-5410-41f6-9fc9-57270deaff8a" config-ref="Salesforce_Config" >
				<salesforce:salesforce-query ><![CDATA[SELECT
	ID, AccountId, Subject, Description, Status, Priority, ContactId, Origin, CreatedDate, ClosedDate
FROM Case
WHERE ID = ':id']]></salesforce:salesforce-query>
				<salesforce:parameters ><![CDATA[#[output application/java
---
{
	id : attributes.uriParams.id
}]]]></salesforce:parameters>
			</salesforce:query>
			<error-handler >
				<on-error-propagate enableNotifications="true" logException="true" doc:name="On Error Propagate" doc:id="14b39f62-40e7-4596-b9e5-39f2000a3951" >
					<raise-error doc:name="Raise error" doc:id="cec0294b-fa7a-48dc-bc85-532cc2ce9733" type="CUSTOM:GET"/>
				</on-error-propagate>
			</error-handler>
		</try>
		<choice doc:name="Choice" doc:id="edd4b803-7592-4e3e-b572-973566729f6a" >
			<when expression="#[sizeOf(payload) == 0]">
				<ee:transform doc:name="Case Not Found" doc:id="06bcfd22-6c0b-46b9-84af-ae2f94147dcb" >
					<ee:message >
						<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
{
	message : "Case not found."
}]]></ee:set-payload>
					</ee:message>
				</ee:transform>
				<set-variable value="404" doc:name="Set httpStatus" doc:id="152d3452-0e4c-4cb0-a09c-d6c4b971871a" variableName="httpStatus"/>
			</when>
			<otherwise >
				<ee:transform doc:name="Cases Found" doc:id="f6104602-48e4-4c9d-b742-f9a2702bec5c" >
					<ee:message >
						<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
payload]]></ee:set-payload>
					</ee:message>
				</ee:transform>
			</otherwise>
		</choice>
		<error-handler >
			<on-error-propagate enableNotifications="true" logException="true" doc:name="On Error Propagate" doc:id="44b39ed4-56a7-4a02-ab60-7d0794892dfb" type="CUSTOM:GET">
				<ee:transform doc:name="Not Found Error" doc:id="7514003c-0c67-4edb-a3ad-78a879faf542" >
					<ee:message >
						<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
{
	message : "Unable to retrieve.",
	details: error.description
}]]></ee:set-payload>
					</ee:message>
				</ee:transform>
				<set-variable value="400" doc:name="Set httpStatus" doc:id="2cfb1c66-da16-4e39-a987-d54fc825c616" variableName="httpStatus"/>
			</on-error-propagate>
			<on-error-propagate enableNotifications="true" logException="true" doc:name="On Error Propagate" doc:id="206f33c1-3b74-4722-9658-1c865e1fb55e" >
				<ee:transform doc:name="Unknown Error" doc:id="54bc36aa-8883-43a9-8479-1712db554957" >
					<ee:message >
						<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
{
	message : "Unknown error.",
	details : error.description
}]]></ee:set-payload>
					</ee:message>
				</ee:transform>
			</on-error-propagate>
		</error-handler>
    </flow>
    <flow name="post:\case:multipart\form-data:sf-system-api-config">
		<ee:transform doc:name="Read Payload Parts">
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
payload.parts]]></ee:set-payload>
            </ee:message>
        </ee:transform>
		<scatter-gather doc:name="Scatter-Gather" doc:id="2778d53f-3042-4efa-9a68-47cfc9916d61" >
			<route >
				<set-variable value='#[%dw 2.0&#10;output application/json&#10;---&#10;{&#10;  	fileContent : payload.File.content,&#10;  	fileName : payload.File.headers."Content-Disposition".filename&#10;  }]' doc:name="Set File" doc:id="90a00383-1960-4440-8e4e-474d3d62c07a" variableName="File" />
			</route>
			<route >
				<set-variable value="#[%dw 2.0&#10;output application/json&#10;---&#10;[{&#10;	AccountId : payload.AccountId.content,&#10;  Subject : payload.Subject.content,&#10;  Description : payload.Description.content,&#10;  Status : payload.Status.content,&#10;  Priority : payload.Priority.content,&#10;  ContactId : payload.ContactId.content,&#10;  Origin : payload.Origin.content,&#10;  CreatedDate : payload.CreatedDate.content,&#10;  ClosedDate : payload.ClosedDate.content&#10;}]]" doc:name="Set Case" doc:id="d6f8c842-fbd7-4134-bfea-742071fe04f1" variableName="case" />
			</route>
		</scatter-gather>
		<salesforce:create type="Case" doc:name="Create Case" doc:id="b8063470-f910-46c5-810c-64e35ed4ffee" config-ref="Salesforce_Config">
			<salesforce:records ><![CDATA[#[vars."case"]]]></salesforce:records>
		</salesforce:create>
		<choice doc:name="Choice" doc:id="eb57d52c-a778-48cf-a32a-7f627ecd50ed" >
			<when expression="#[payload.successful == false]">
				<raise-error doc:name="Case Not Created" doc:id="093bde26-4d8a-41de-9e42-18a19e499b59" type="CUSTOM:NOT_CREATED"/>
			</when>
			<otherwise >
				<set-variable value="#[payload.items.id[0]]" doc:name="Set Case Id" doc:id="7a3556a6-8a64-449b-bd21-f6de91433196" variableName="CaseId"/>
				<choice doc:name="Choice" doc:id="d5fdeb1a-7d35-46be-a2b1-d19dafed32e9" >
					<when expression='#[vars.File.fileContent != null and vars.File.fileName != null]'>
						<flow-ref doc:name="Flow Reference" doc:id="a8f5c575-28a8-40c1-9285-17275dc464c8" name="UploadFile"/>
					</when>
				</choice>
				<ee:transform doc:name="Case Created" doc:id="7a3884a1-868b-4cb1-b5fc-d77f0f136b93">
					<ee:message>
						<ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
	message : "Case Created.",
	fileSuccess : vars.FileSuccess
}]]></ee:set-payload>
					</ee:message>
				</ee:transform>
			</otherwise>
		</choice>
		<error-handler >
			<on-error-propagate enableNotifications="true" logException="true" doc:name="On Error Propagate" doc:id="b2b6ec33-70aa-4842-b3f9-dbcc4759efae" type="CUSTOM:NOT_CREATED">
				<ee:transform doc:name="Transform Message" doc:id="15585f29-0bb2-47ca-a541-5e3d48fa56cd" >
					<ee:message >
						<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
{
	message : "The case could not be created. Please try again.",
	details : payload.items.exception.message
}]]></ee:set-payload>
					</ee:message>
				</ee:transform>
				<set-variable value="400" doc:name="Set httpStatus" doc:id="c59c462a-a792-4045-a3eb-bcf9d7eced57" variableName="httpStatus"/>
			</on-error-propagate>
			<on-error-propagate enableNotifications="true" logException="true" doc:name="On Error Propagate" doc:id="792e1405-2c62-4f35-b7c2-6e8cd2786b00" >
				<ee:transform doc:name="Transform Message" doc:id="019bb4a4-c609-4cc6-be43-12590345368f" >
					<ee:message >
						<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
{
	message : "Unknown error.",
	details : error.description
}]]></ee:set-payload>
					</ee:message>
				</ee:transform>
			</on-error-propagate>
		</error-handler>
    </flow>
    <flow name="post:\import:application\csv:sf-system-api-config">
        <ee:transform doc:name="Transform Message">
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
  message: "Cases Imported"
} as Object {encoding: "UTF-8", mediaType: "application/json"}]]></ee:set-payload>
            </ee:message>
        </ee:transform>
    </flow>
	<flow name="UploadFile" doc:id="b54cd6eb-4fed-467e-bc6f-905800f754dc" >
		<ee:transform doc:name="Set File To Binary-Salesforce" doc:id="56255a61-c8bb-413f-8ab2-f080f38ca853" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
import * from dw::core::Binaries
output application/java
---
[{
  PathOnClient: vars.File.fileName,
  VersionData: vars.File.fileContent as Binary {
    class: "byte[]"
  }
}]]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<salesforce:upsert objectType="ContentVersion" externalIdFieldName="Id" doc:name="Post File Into ContentVersion" doc:id="04eef9e0-e94d-4529-8944-fab4143417ad" config-ref="Salesforce_Config"/>
		<salesforce:query doc:name="Get Data From Inserted File" doc:id="5cb5bf54-7dd5-49eb-a3f9-d6cc722f4ab3" config-ref="Salesforce_Config">
			<salesforce:salesforce-query ><![CDATA[SELECT ContentDocumentId FROM ContentVersion WHERE Id = ':cvId']]></salesforce:salesforce-query>
			<salesforce:parameters ><![CDATA[#[output application/java
---
{
	cvId : payload.items[0].id
}]]]></salesforce:parameters>
		</salesforce:query>
		<ee:transform doc:name="Link FIle To Case" doc:id="ada71c9c-9c88-4063-ba7e-440019e4da8e" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/java
---
payload map ( payload01 , indexOfPayload01 ) -> {
	LinkedEntityId: vars.CaseId as String,
	ContentDocumentId: payload01.ContentDocumentId
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<salesforce:upsert doc:name="Link Into ContentDocumentLink" doc:id="0b0dbd68-49d4-4aa2-9047-027b2b297afa" config-ref="Salesforce_Config" objectType="ContentDocumentLink" externalIdFieldName="Id"/>
		<choice doc:name="Choice" doc:id="ee76ea36-d948-4841-8ee2-64aaa241765d" >
			<when expression="#[payload.successful == false]">
				<set-variable value="#[payload]" doc:name="Set FileFailed" doc:id="545f538a-04f5-4ac9-95aa-8615715f53af" variableName="FileSuccess"/>
			</when>
			<otherwise>
				<set-variable value="true" doc:name="Set FileSuccess" doc:id="a90e28a1-24e4-4e64-a1a7-cc149d95bec0" variableName="FileSuccess"/>
			</otherwise>
		</choice>
	</flow>
</mule>
